<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Autologin>
            <version>0.1.0</version>
        </Magestore_Autologin>
    </modules>
	<default>
		<web>
			 <routers>
				 <autologin>
						 <area>admin</area>
						 <class>Magestore_Autologin_Controller_Router</class>
				 </autologin>
			 </routers>
		</web>
	</default>
	<admin>
        <routers>
            <adminautologin>
                <use>admin</use>
                <args>
                    <module>Magestore_Autologin</module>
                    <frontName>autologin</frontName>
                </args>
            </adminautologin>
        </routers>
    </admin>
    <frontend>
        <routers>
            <autologin>
                <use>standard</use>
                <args>
                    <module>Magestore_Autologin</module>
                    <frontName>autologin</frontName>
                </args>
            </autologin>
        </routers>
        <layout>
            <updates>
                <autologin>
                    <file>autologin.xml</file>
                </autologin>
            </updates>
        </layout>
    </frontend>  
    <global>
        <resources>
            <autologin_setup>
                <setup>
                    <module>Magestore_Autologin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </autologin_setup>
            <autologin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </autologin_write>
            <autologin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </autologin_read>
        </resources>
        <helpers>
            <autologin>
                <class>Magestore_Autologin_Helper</class>
            </autologin>
        </helpers>
    </global>
</config>